globalStorage/
localization-cache/
logs/
plugin-storage/
workspace-storage/
recentworkspace.json
recent-sketches.json
settings.json

Arduino/libraries
Arduino/packages
Arduino/staging
Arduino/tmp
Arduino/library_index.json
Arduino/library_index.json.sig
Arduino/package_esp32_dev_index.json
Arduino/package_index.json
Arduino/package_index.json.sig
Arduino/inventory.yaml
Arduino/user/libraries/