<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Entry Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
</head>
<body>
    <div id="header-box">
        <h1 id="header">Data Entry</h1>
    </div>
    <div id="form">
        <label for="room">Room</label><br>
        <input type="text" id="room" name="room" placeholder="e.g. bedroom"><br><br>
        <label for="x">X, Y</label><br>
        <input type="number" id="x" name="x" value="0"><br><br>
        <input type="number" id="y" name="y" value="0"><br><br>
        <button type="submit" onclick="waitCountdown()">Submit</button>
        <p id="error"></p>
    </div>

    <script>
        let timeoutId = null;
        const delay = ms => new Promise(res => {
            timeoutId = setTimeout(res, ms)
        });
        const waitCountdown = async () => {
            document.getElementById("error").innerHTML = "";
            if (document.getElementById("x").value.trim() === "" || document.getElementById("y").value.trim() === "" || document.getElementById("room").value.trim() === "") {
                document.getElementById("error").innerHTML = "Error: ";
                if (document.getElementById("room").value.trim() === "") {
                    document.getElementById("error").innerHTML += "Room is invalid ";
                }
                if (document.getElementById("x").value.trim() === "") {
                    document.getElementById("error").innerHTML += "X is invalid ";
                }
                if (document.getElementById("y").value.trim() === "") {
                    document.getElementById("error").innerHTML += "Y is invalid ";
                }
            } else {
                fetch("/start", {method: "POST", headers: {'Content-Type': 'application/json'},
                 body: JSON.stringify({
                     room: document.getElementById("room").value,
                     x: document.getElementById("x").value,
                     y: document.getElementById("y").value
                 })})
                    .then(response => response.json())
                    .then(data => {
                        console.log('Data received:', data);
                        if (Object.keys(data).includes("error")) {
                            clearTimeout(timeoutId);
                            document.getElementById("header").innerHTML = "Data Entry";
                            document.getElementById("error").innerHTML = "Error: " + data.error;
                            document.getElementById("form").style.display = "flex";
                        }
                    })
                    .catch(error => {
                        console.error('Fetch error:', error);
                    });
                document.getElementById("header").innerHTML = "Waiting for data point collection";
                document.getElementById("form").style.display = "none";
                await delay(15000);
                document.getElementById("header").innerHTML = "Data Entry";
                document.getElementById("form").style.display = "flex";
            }
        }
    </script>
</body>
</html>